<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flash Cards</title>
</head>
<body>
    <header>
        <h1>Flash Cards</h1>
    </header>
    <section id="content">
        {{{body}}}
    </section>
    <footer>
        <p>An app to help you study</p>
    </footer>
</body>
</html>